<?xml version="1.0" ?>
<robot name="dreamwalker" xmlns:xacro="http://www.ros.org/wiki/xacro">

	
	<!--### BODY ### -->

	<link name="link_base">
		
		<inertial>
			<mass value="0.388"/>
			<origin xyz="0 0 0.00517" rpy="0 0 0"/>
			<inertia ixx="0.003038" ixy="0.000002957909" ixz="1.146e-9" iyy="0.0005436" iyz="5.053e-9" izz="0.003573"/>
		</inertial>

		<collision name="collision_base">
			<origin xyz="0 0 0.005" rpy="0 0 0"/>
			<geometry>
				<box size="0.6 0.1 0.2"/>
			</geometry>
		</collision>

		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.6 0.1 0.2"/>
			</geometry>
		</visual>

	</link>

	<!-- ### JOINTS ### -->

	<!-- <joint name="body_fem1" type="revolute">
		
		<origin xyz="-0.065 0.1 0.025" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
		<parent link="link_base"/>
		<child link="femur1"/>
		<limit effort="30" velocity="1.0" lower="-1.57079" upper="1.57079" />
		<dynamics damping="0.0" friction="1.0"/>
	</joint> -->

	<!-- ### GAZEBO ### -->
	<!--
	<gazebo>
  		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    		<robotNamespace>/roboter</robotNamespace>
  		</plugin>
	</gazebo>
										-->
	<!-- ### TRANSMISSIONS -->

</robot>
